<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLI Page</title>
    <link rel="stylesheet" href="../css/cli.css">
</head>
<body>
    <div id="cli-container">
        <div id="cli-output"></div>
    </div>
    <script src="../js/cli.js"></script>
</body>
</html>